@model ArsenalPlayers.Models.PlayerIndexModel

@{
    ViewData["Title"] = "Index";
}


<main>
    <h1>Index</h1>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
    @section Scripts {
        @{
            await Html.RenderPartialAsync("List", Model.PlayerIEnumerable);
            await Html.RenderPartialAsync("Create", Model.PlayerModel);
        }
    }
</main>


