@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <div>
        <h5>If you want to see a custom List of Players, and maybe add your own, click <a class="text-highlight" asp-area="" asp-controller="Players" asp-action="Index">here</a> or the 'Players' button on the nav header</h5>
        <br />
        <h5>Otherwise, if you want to see a slice of data from Football-data.org's API click <a class="text-highlight" asp-area="" asp-controller="Players" asp-action="ArsenalAPI">here</a> or the 'ArsenalAPI' button on the nav header'</h5>
    </div>
</div>
